<?xml version="1.0"?>

<model>
  <name>General Picker</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Ulrich Klank</name>
    <email>klank@scitics.de</email>
  </author>

  <depend>
    <model>
      <uri>model://hokuyo</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    The new general pick-place machine.
  </description>
</model>
